*{
    box-sizing: border-box;
    margin: 0;
    border:0;
}

body{
    background-color: #a1c3ff;
    font-family: 'Poppins', sans-serif;
}
.container{
    height:300px;
    height:min-content;
    margin:0 auto;
    /*max-width:1100px;*/
}
.navbar{
    background:#3474e6;
    height:60px;
}
 .nav{
    display: flex;
    justify-content:space-between;
}
.nav a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size:18px;
    padding:4px;
}
.logo{
    color:#fff;
    font-weight: bold;
    font-size: x-large;
}
ul{
    list-style-type: none;
}
.navbar .container{
display:flex;
justify-content: space-between;
align-items: center;
height:100%;
}

.header{
    background: #0151cc;
    color:#fff;
}
.header.h1{
    font-weight: bold;
    font-size: 3rem;
}
.header img{
    max-width: 400px;
    padding:50px;
}
.header .container{
    padding:30px;
    display:flex;
    justify-items: space-between;
    align-items: center;

}

.boxes .container{
    display: flex;
    
}

.box{
    flex:1;
    background: #3a0ca3;
    margin:5px;
    border-radius:6px;
    padding:4px;
    color:#fff;
}

.box i{
    margin-right: 3px;
}

@media(max-width:800px){
    .header .container{
        display: block;
        text-align:center;
        flex-direction: column;
    }
    .boxes .container{
        display: block;
        text-align:center;
    }
}